<div class="card mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= jaksa.nama  %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"> <%= jaksa.nip %> </h6>
    <p class="card-text"><%= jaksa.pangkat  %></p>
    <a href="/jaksa/" class="card-link">Kembali</a>
  </div>
</div>