<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
    <div class="container">
  <a class="navbar-brand" href="#">SURAT BESUK DAN <br> PENGELOLAAN DATA TAHANAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5 d-flex" id="navbarNav">
  <div class="collapse navbar-collapse ml-5 d-flex" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/surat">Surat    <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pengajuan">Pengajuan Surat    <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/pengelolaan">Kelola Tahanan    <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mt-0">
        <a class="nav-link" href="/tahanan">Tahanan    </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pembesuk">Pembesuk    </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jaksa" >Jaksa    </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lapas" >Lapas    </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jaksa" >User    </a>
      </li>
      
      <div class="btn-group">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
          Alamat
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/provinsi">Provinsi</a></li>
          <li><a class="dropdown-item" href="/kabupaten">Kabupaten</a></li>
        </ul>
      </div>

  </div>
  </div>
  </div>
  </div>


</nav>